@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="spacer-md"></div>
<h2>Navigation</h2>
<div class="spacer-md">
    <ul>
        <li>
            <a asp-page="StraightForward/Index">StraightForward Admin</a>
        </li>
    </ul>
</div>
